In [3]:
# #### Set 
# if you want to represent a group of unique values as a single entity,
# then we should go for set
# Duplicates are not allowed
# Insertion ordere is not preserved, we can sort
# Indexing and slicing are not allowed
# set objects are mutable once we create set objects we can perform changes
# {} - It should be filled with values
# You can mathematical opertions like union, intersection, diffference etc on set objects.

In [6]:
s = {1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [9]:
s = set([56,78,90, 90])
print(s)

{56, 90, 78}

In [12]:
s[0:2]

TypeError: 'set' object is not subscriptable

In [10]:
l = [20,30,40,50]
print(type(l))

<class 'list'>

In [11]:
t = tuple(l)
print(t)

(20, 30, 40, 50)

In [13]:
##### Important Functions of Set - 
# 1. add(x)
# add items x to the set
s.add("Rahul")

In [14]:
print(s)

{56, 90, 78, 'Rahul'}

In [15]:
### 2. update (x,y,z)
# To add multiple items to the set
# It should be either in list or in range

s1 = {10,20,30,40}
print(s1)

{40, 10, 20, 30}

In [16]:
l = [90,80,70,60,50,40]
print(l)

[90, 80, 70, 60, 50, 40]

In [17]:
s1.update(l)
print(s1)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [19]:
s2 = {"Rahul", "Sonali"}
s1.update(s2)

In [20]:
print(s1)

{70, 40, 10, 80, 50, 20, 'Rahul', 90, 60, 'Sonali', 30}

In [18]:
#### 3. Copy()
### Cloning 
p = s1.copy()
print(p)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [21]:
#### 4. pop() It will remove random element from the set
s1.pop()
print(s1)

{40, 10, 80, 50, 20, 'Rahul', 90, 60, 'Sonali', 30}

In [22]:
s1.pop()

40

In [23]:
s1

{10, 20, 30, 50, 60, 80, 90, 'Rahul', 'Sonali'}

In [24]:
### 5. remove() It removes sepecified element from the set

s = {90,80,70,60}
s.remove(70)
print(s)
s.remove(100)

{80, 90, 60}

KeyError: 100

In [25]:
t = {6,4,2,7,9}
print(t)

{2, 4, 6, 7, 9}

In [26]:
rm = [2,4,6]

r = t - set(rm)
r

{7, 9}

In [28]:
#### 6. discard ##### It remove specified item from the set
s = {90,80,70,60}
s.discard(70)
print(s)
s.discard(100)

{80, 90, 60}

In [29]:
### Clear () To remove all elements from set
s = {10,20,30,40}
print(s)

{40, 10, 20, 30}

In [30]:
s.clear()
print(s)

set()

In [37]:
##### Mathematical Operations on Set ---
###  1. union() ### x.union(y) or x|y
### we can use this function to return all elements present in both sets
x = {10,20,30}
y = {30,40,50,"Rahul"}
z = x.union(y)
print(z)

{50, 20, 40, 10, 30, 'Rahul'}

In [36]:
print(x)

{50, 20, 40, 10, 30, 'Rahul'}

In [38]:
#### 2. Intersection
### x.intersection(y) or x&y
### RReturns common element present in both x and y
x.intersection(y)

{30}

In [40]:
#### 3. Difference
#### x.differeence(y) or x -y
##### returns the element present in x but not in y
x = {10,20,30,40}
y = {30,40,50,60}
print(y.difference(x))

{50, 60}

In [41]:
####4. Symmetric Difference
#### x.symmetric_difference(y) or x^y
#### returns element present in either x or y but not in both
x = {10,20,30,40}
y = {30,40,50,60}
print(x.symmetric_difference(y))

{10, 50, 20, 60}

In [47]:
#### Membership Operators in Set (in and not in)
s = set("Sonali")  ##### Another way of Tokenizing of words
print(s)

{'i', 'o', 'n', 'a', 'l', 'S'}

In [45]:
print('k' not in s)

True

In [48]:
##### Dictionary Data Structure
#### we can use listm tuple, set to represent group mof individual objects 
###if you want to create group of obejcts as key and value pairs then we should go for dict
# name - "Sonali"
# age - 27

#### Dupliate keys are not allowed but values can be duplicated
#### Hetrogenous objects are allowed for both key and value
#### Insertion order is not preserved
#### Dictionaries are Mutable objects
### Dictionaries are Dynamic
##### Indexing and slicing are not applicable

In [49]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [50]:
d  = {1 : 'rahul', 2: 'Rohan', 3:'sheetal'}
print(d)

{1: 'rahul', 2: 'Rohan', 3: 'sheetal'}

In [51]:
d[1]

'rahul'

In [52]:
d[3]

'sheetal'

In [53]:
d[4] = "Bose"

In [54]:
d

{1: 'rahul', 2: 'Rohan', 3: 'sheetal', 4: 'Bose'}

In [55]:
d[9] b #### you can only access data based on avaiable keys

KeyError: 9

In [56]:
del d[4]
print(d)

{1: 'rahul', 2: 'Rohan', 3: 'sheetal'}

In [57]:
d[5] = "John"
print(d)

{1: 'rahul', 2: 'Rohan', 3: 'sheetal', 5: 'John'}

In [58]:
s = {23 : 'ABC', 89: 'DEF'}
s

{23: 'ABC', 89: 'DEF'}

In [59]:
d.update(s)
print(d)

{1: 'rahul', 2: 'Rohan', 3: 'sheetal', 5: 'John', 23: 'ABC', 89: 'DEF'}

In [61]:
n = {'name' : 'Ram'}
print(n)

{'name': 'Ram'}

In [62]:
n = {'name':['Rahul', "Rohan", "Sita"], 'Age':[12,25,26]}
print(n)

{'name': ['Rahul', 'Rohan', 'Sita'], 'Age': [12, 25, 26]}

In [63]:
n.clear()
print(n)

{}

In [64]:
len(d)

6

In [66]:
d.keys()

dict_keys([1, 2, 3, 5, 23, 89])

In [67]:
d.values()

dict_values(['rahul', 'Rohan', 'sheetal', 'John', 'ABC', 'DEF'])

In [68]:
d.items()

dict_items([(1, 'rahul'), (2, 'Rohan'), (3, 'sheetal'), (5, 'John'), (23, 'ABC'), (89, 'DEF')])

In [69]:
#### pop (key)
d.pop(2)

'Rohan'

In [70]:
d

{1: 'rahul', 3: 'sheetal', 5: 'John', 23: 'ABC', 89: 'DEF'}

In [71]:
###  popitem   It removes any arbitary elements from the dictionary
d.popitem()

(89, 'DEF')

In [72]:
d

{1: 'rahul', 3: 'sheetal', 5: 'John', 23: 'ABC'}

In [73]:
e  = d.copy()
e

{1: 'rahul', 3: 'sheetal', 5: 'John', 23: 'ABC'}

In [75]:
#### Range - We can create range of values - 
list(range(5))

[0, 1, 2, 3, 4]

In [77]:
list(range(1,25,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [79]:
for a in range(1,15,3):  ### start, end, step
    print(a)

1
4
7
10
13

In [80]:
##### None nothing No values are associated
### if the value isw not available, then to handle such type of cases None are introduced.
a = None
print(a)

None

In [83]:
##### Escape Characters
### \n == New Line
print("Rahul is a good boy\n, he plays very well")
#### \t  == Horizontal Tab
print("Rahul is a good boy\t he plays very well")

Rahul is a good boy
, he plays very well
Rahul is a good boy	 he plays very well

In [85]:
### Operators in Python
### 1. Arithmetic Operators
#### + , - , * , / , %, // , **
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)   ### Reminder 
print(a//b)   ##### Floor
print(a**b)

13
7
30
3.3333333333333335
1
3
1000

In [86]:
#### In string there are 2 operator + and *

In [89]:
#### Relational Operators (>, >= , < ,<=)
a = 10
b = 20
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
False
True
True

In [90]:
#### Bool Data TYpe
#### True and False

In [91]:
#### In Python True represents as 1 and False represents as 0
a = True
b = True
print(a+b)

2

In [92]:
print(True > True)

False

In [93]:
print(True >= True)

True

In [95]:
print(0 > True)

False

In [97]:
print(True != True)

False

In [98]:
#### Logical operators and , or , not

In [99]:
# and  =  if both arguments are True then the results are True
# or = if atleast one argument is True then result is True
# not  = complement

In [101]:
True and True

True

In [102]:
True or False

True

In [105]:
not True

False

In [106]:
### if the 1st argumen tis 0, then the rsult is zero other wise the result i y
10 and 20

20

In [107]:
0 and 20

0

In [108]:
#### x or y
### if x is true then the result is x other wise result is y
10 or 20

10

In [109]:
0 or 20

20

In [110]:
##### Modules in Python  - Modules are bascially packages which stores differnt dunctions related
#### to that module
#### import module_name
#### from module_name import functions
#### import module_name as alias

In [114]:
import math as m

In [115]:
m.sqrt(4)

2.0

In [116]:
m.pi

3.141592653589793

In [118]:
from math import sqrt,pi

In [119]:
sqrt(16)

4.0

In [120]:
pi

3.141592653589793

In [127]:
import datetime

In [131]:
k = datetime.date(1996,12,11)
print(k)
print(type(k))

1996-12-11
<class 'datetime.date'>

In [135]:
t = datetime.date.today()
print(t)

2023-09-30

In [137]:
print("Current Year - ", t.year)
print("Current Month - ",t.month)
print("Current Day - ", t.day)

Current Year -  2023
Current Month -  9
Current Day -  30

In [138]:
from datetime import time

In [139]:
t = time(11,34,56)
print(t)

11:34:56

In [142]:
print("Hour - ", t.hour)
print("Minutes", t.minute)
print("Seconds - ", t.second)

Hour -  11
Minutes 34
Seconds -  56

In [143]:
#### Write a program taking input from user and calculate the area of a circle

In [147]:
### pi r sqaure  ##### 
radius = int(input("Enter the Radius - "))
aoc = pi*(radius**2)
print(aoc)

Enter the Radius - 2
12.566370614359172