In [9]:
### Bitwise OPerator - 
### We can apply bitwise opertors only in int and boolean values
#### & and |
print(1 | 0)

1

In [ ]:
##### & if both bits are 1 then only the result is 1 otherwse result is 0
#### | if atleast one bits are 1 then the result is 1 otherwise 0

In [5]:
print(1 & 0)

0

In [10]:
#### Assignments opertors 
x = 10
x = x+2
print(x)

12

In [14]:
x = 15
x/=5
print(x)

3.0

In [15]:
#### += , -= , *= , /= , %= , //= ,&=, |=

In [16]:
#### Ternary Operators
### x = firstvalue if condition else secondvalue

In [18]:
a = 100
b = 20
x = 30 if a<b else 40
print(x)

40

In [19]:
#### write a program taking two numbers from the user and print the min of the two

In [20]:
x = int(input("Enter the 1st No - "))
y = int(input("Enter the 2nd No - "))
z = x if x<y else y
print("The min value is  - ", z)

Enter the 1st No - 56
Enter the 2nd No - 25
The min value is  -  25

In [21]:
# ##### Control Flow - 
# 1. Conditional Statement - if , if-elif, if-elif-else
# 2. Transfer Statement - break, continue, pass
# 3. Iterative Statement - for , while

In [25]:
if True:
    print("Condition is correct")
else:
    print("Condition is not correct")

Condition is correct

In [27]:
a  = 100
if a < 15:
    print(a)
else:
    print("The value of a is greater than 15")

The value of a is greater than 15

In [28]:
brand = input("Enter your brand name - ")
if brand == 'A':
    print("It is childers brand")
elif brand == 'B':
    print("It is boys brand")
elif brand == "C":
    print("It is customer brand")
else:
    print("Other brands")

Enter your brand name - C
It is customer brand

In [29]:
brand = input("Enter your brand name - ")
if brand == 'A':
    print("It is childers brand")
if brand == 'B':
    print("It is boys brand")
if brand == "C":
    print("It is customer brand")
else:
    print("Other brands")

Enter your brand name - C
It is customer brand

In [36]:
#### Iterative Statements
#1. for loop - If you want to create some actions for every element presewnt in some sequence
### for anyvar in sequence:
        #expression
i = 0
s = "Sonali Sinha"
for x in s:
    print("L- ",i, x)
    i = i+1

L-  0 S
L-  1 o
L-  2 n
L-  3 a
L-  4 l
L-  5 i
L-  6
L-  7 S
L-  8 i
L-  9 n
L-  10 h
L-  11 a

In [38]:
fruits = ["Apple", "mango", "geapes","orange", "pineapple","blueberry"]
fruits

['Apple', 'mango', 'geapes', 'orange', 'pineapple', 'blueberry']

In [40]:
i = 100
#s = "Sonali Sinha"
for x in fruits:
    print("Fruits- ",i, x)
    i = i+1

Fruits-  100 Apple
Fruits-  101 mango
Fruits-  102 geapes
Fruits-  103 orange
Fruits-  104 pineapple
Fruits-  105 blueberry

In [41]:
### write a program to display all odd numbers from 0 to 30
for x in range(31):
    if (x%2!=0):
        print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [48]:
for i in range(0,4): #[0,1,2,3]
    for j in range(4):
        print(i+1,j)

1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3

In [49]:
#### While Loop - 
#### If you want to execute a group of statements iteratively until some condition is False
# while condition:
#     expression

In [52]:
x = 1
while x <10:
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9

In [62]:
#### Transfer Statements - 
#### 1) break 
for i in range(10):
    if i ==6:
        print("Till 6")
        break
    print(i)

0
1
2
3
4
5
Till 6

In [67]:
### Continue
cart = [10,230,50,500,457,60]
for item in cart:
    if item >=400:
        print("we cannot process this item", item)
        continue
    print(item)

10
230
50
we cannot process this item 500
we cannot process this item 457
60

In [68]:
# pass  - It is an empty statement
#  - It is a null statement
#  - It won;t do anything

In [69]:
if True:
    pass

In [ ]:
###### Modules  - Pandas (Data Analysis and Data Manipulation)
### Pandas  -  Series / Dataframes
#### Series is a single column (single array)
#### Dataframe  -Multidimesional array (rows and columns more than 1)

In [71]:
sales = [2500,1200,1800,1400,1600]
print(sales)

[2500, 1200, 1800, 1400, 1600]

In [83]:
min(sales)

1200

In [84]:
max(sales)

2500

In [85]:
sum(sales)

8500

In [87]:
mean(sales)

NameError: name 'mean' is not defined

In [79]:
import pandas as pd   #### For other editors than jupyter you have to install pandas
#### pip install pandas  for pandas installation

In [80]:
pd.__version__

'2.0.1'

In [86]:
sales1 = pd.Series(sales)#### S is capital in series
print(sales1)
print(type(sales1))

0    2500
1    1200
2    1800
3    1400
4    1600
dtype: int64
<class 'pandas.core.series.Series'>

In [90]:
print(sales1.mean())
print(sales1.min())
print(sales1.max())
print(sales1.sum())

1700.0
1200
2500
8500

In [91]:
sales1.describe()

count       5.0
mean     1700.0
std       500.0
min      1200.0
25%      1400.0
50%      1600.0
75%      1800.0
max      2500.0
dtype: float64

In [92]:
### data  = pd.read_csv("path/file.format")
data  = pd.read_("E:/TOPMENTOR/PART1/topmenor/Top Mentor/Datasets/titles.csv")
print(data)

                                       title  year
0                             The Rising Son  1990
1                    The Thousand Plane Raid  1969
2                           Crucea de piatra  1993
3                                    Country  2000
4                                 Gaiking II  2011
...                                      ...   ...
230616                 Nobody Waved Good-bye  1964
230617                                 E yue  2005
230618                          Lakota Girls  2015
230619                        Kroniki domowe  1997
230620  Death in the Valley of Good and Evil  2018

[230621 rows x 2 columns]

In [96]:
#!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     -------------------------------------- - 92.2/96.5 kB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 96.5/96.5 kB 1.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [97]:
retail = pd.read_excel("E:/TOPMENTOR/PART1/topmenor/Top Mentor/Datasets/Retail.xls")
print(retail)

      Row ID        Order ID Order Date  Ship Date       Ship Mode
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class  \
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City
0       CG-12520       Claire Gute   Consumer  United States        Henderson  \
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases  \
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity
0                     Bush Somerset Collection Bookcase  261.9600         2  \
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]