In [1]:
#### How to Split a String 
#### We can split the string according to a seperator
#### l = s.split(seperator)

In [6]:
s = "python software fondation"
print(s)

python software fondation

In [9]:
l = s.split(' ')
print(l)  #### It is in a data structure called as list
#### Use a loop to see the seperation

['python', 'software', 'fondation']

In [10]:
d = "2022-09-23"
d1 = d.split('-')
print(d1)

['2022', '09', '23']

In [11]:
k = "Rahul, is , a good, boy"
k1 = k.split(',')
print(k1)

['Rahul', ' is ', ' a good', ' boy']

In [13]:
for i in k:
    print(i)

R
a
h
u
l
,

i
s

,

a

g
o
o
d
,

b
o
y

In [ ]:
##### You can use a for loop to see the words
#### For loop runs based on sequence
for any_var in sequence:
    print(any_var)  ##### Indentation in Python
print("Outside the Loop")

In [12]:
for i in k1:
    print(i)
print("Outside loop")

Rahul
 is
 a good
 boy
Outside loop

In [14]:
t = [1,2,3,4]
print(t)

[1, 2, 3, 4]

In [16]:
for a in t:
    print(a)
    print("Inside")

1
Inside
2
Inside
3
Inside
4
Inside

In [17]:
l = "Ragul@gamil.com"
l1 = l.split('@')
print(l1)

['Ragul', 'gamil.com']

In [21]:
#### Join the Strings 
#We can join a group of strings (list or tuple) wrt to given seperator
# s = seperator.join(group of strings)
print(l1)
l2 = '@'.join(l1)
print(l2)

['Ragul', 'gamil.com']
Ragul@gamil.com

In [22]:
r = ['hyderabad','london','delhi','mumbai']
print(r)

['hyderabad', 'london', 'delhi', 'mumbai']

In [23]:
q = ':'.join(r)
print(q)

hyderabad:london:delhi:mumbai

In [ ]:
#### Chnage of Cases - 
We can change case string by 4 methods
1. upper()
2. lower()
3. swapcase() - which ever is lower, it will convert to upper and viceversa
4. title() - The first character of every word will be in upper
5. capitalize() - Only 1st Charcter will be converted to upper rest all are lower

In [24]:
s = "leaRning PYTHON is Very Easy"
print(s.lower())
print(s.upper())
print(s.swapcase())
print(s.title())
print(s.capitalize())

learning python is very easy
LEARNING PYTHON IS VERY EASY
LEArNING python IS vERY eASY
Learning Python Is Very Easy
Learning python is very easy

In [ ]:
##### Checking Starting and ending part
Python contains this following functions.
1. s.startswith(substring)
2. s.endswith(substring)

In [25]:
s = "learning python is very easy and crucial"
print(s)

learning python is very easy and crucial

In [29]:
print(s.startswith('learning'))

True

In [31]:
print(s.endswith('crucial'))

True

### Formatting of Strings

In [32]:
name = "Bose"
salary  = 10000
age = 45

In [33]:
print(name)
print(age)
print(salary)

Bose
45
10000

In [34]:
print("{}'s salary is {} and his age is {}".format(name,salary,age))

Bose's salary is 10000 and his age is 45

In [35]:
print("{1}'s salary is  of {0} and his age is {2}".format(name,salary,age))

10000's salary is  of Bose and his age is 45

In [36]:
print("{x}'s salary is  of {y} and his age is {z}".format(x = name,y =salary,z = age))

Bose's salary is  of 10000 and his age is 45

In [41]:
print(f"{name}'s salary is {salary} and his age {age}")

Bose's salary is 10000 and his age 45

#### LIST DATA STRCUTURE

In [43]:
a = "ram","sita","rohan"
print(a)

('ram', 'sita', 'rohan')

In [ ]:
a  = 50,80,109,10

In [ ]:
####if you want o store a group of values as an inbdividual object as single entity then you can use list

1. Insertion   order is preserved
2. Duplicate objects are allowed
3. Hetrogenous objects are allowed
4. List is dynamic
5. It uses a []
6. List is Mutable   ##### You can add or remove anything from the list

In [44]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [55]:
l = [90,12,115,18,20,18,"Rahul",222.908,[12,15]]
print(l)
print(type(l))

[90, 12, 115, 18, 20, 18, 'Rahul', 222.908, [12, 15]]
<class 'list'>

In [52]:
l[3]  #### How to access list
l[0:2]

[90, 12]

In [57]:
l[2] = 1500

In [58]:
print(l)

[90, 12, 1500, 18, 20, 18, 'Rahul', 222.908, [12, 15]]

In [59]:
s = "learning python is very easy"
print(s)

learning python is very easy

In [63]:
l = s.split()  ##### If you use a split function it will create a list
print(l)

['learning', 'python', 'is', 'very', 'easy']

In [75]:
l[1][4:6]

'on'

In [76]:
l[0:2]

['learning', 'python']

In [82]:
n= [1,1,1,1,1,2,2,3,4,5,6,67,7,8]
print(n)

[1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 67, 7, 8]

In [78]:
for a in n:
    print(a)

1
2
2
3
4
5
6
67
7
8

In [80]:
##### Important Functions of List - 
#1.len()  #### returns the number of elements
print(len(n))

10

In [83]:
### count( ) It will return the number of occurances of specified item in the list
n.count(2)
print(n.count(1))

5

In [85]:
#### index() returns the 1st occurance of the specified item
n.index(6)

10

In [91]:
###### manupulating Elements of List
### 1. append()  ### it will add the values at the end of the list
a = ["ram","sita"]
print(a)

['ram', 'sita']

In [92]:
a.append("laxman")
print(a)

['ram', 'sita', 'laxman']

In [89]:
print(a)

['ram', 'sita']

In [93]:
a.insert(1,"laxman")
print(a)

['ram', 'laxman', 'sita', 'laxman']

In [95]:
#extend() ##### it add multiple values/ add a list of values
print(a)
print(n)

['ram', 'laxman', 'sita', 'laxman']
[1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 67, 7, 8]

In [96]:
a.extend(n)
print(a)

['ram', 'laxman', 'sita', 'laxman', 1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 67, 7, 8]

In [98]:
n.extend(a)
print(n)

[1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 67, 7, 8, 'ram', 'laxman', 'sita', 'laxman', 1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 67, 7, 8]

In [ ]:
pop()it will remove and return the last element of the list

In [100]:
m = [10,12,15]
m.pop()

15

In [101]:
print(m)

[10, 12]

In [103]:
#remove()  #### you can remove a sepecified item from the lits
m.remove(10)
print(m)

[12]

In [107]:
n = [140,14,1000,12,15,18]
n

[140, 14, 1000, 12, 15, 18]

In [108]:
n.reverse()  ##### reversed

In [109]:
print(n)

[18, 15, 12, 1000, 14, 140]

In [111]:
n.sort(reverse=True)
print(n)

[1000, 140, 18, 15, 14, 12]

## Python Project

In [112]:
#### Story Generator in Python ----

In [135]:
import random
when = ['A few years ago', 'Longtime back', 'Suddenly','Yesterday']
who = ['a man', 'a girl with a white hat','an Inspector','a prisoner']
name = ['Clerk', "jady", 'Rohan', 'Bella']
reside = ['footpath','a house at the end of the road','jail', 'a park']
went = ['picnic','museum','zoo', 'party']

In [136]:
print(random.choice(when) + ' ' +  random.choice(who) + ""+ " named as "+ '' + random.choice(name) + 
     ' reside at ' + random.choice(reside) + '' + " went to " + random.choice(went))

Yesterday a man named as jady reside at a park went to museum

In [ ]:
#### Aliasing and Cloning !!!!

In [137]:
n = [10,11,12,13,15]
print(n)

[10, 11, 12, 13, 15]

In [138]:
#### Aliasing
y = n
print(y)

[10, 11, 12, 13, 15]

In [140]:
y[1] = 200

In [142]:
print(y)

[10, 200, 12, 13, 15]

In [143]:
print(n)

[10, 200, 12, 13, 15]

In [144]:
#### Copying

In [145]:
print(n)

[10, 200, 12, 13, 15]

In [146]:
w = n.copy()
print(w)

[10, 200, 12, 13, 15]

In [148]:
w[1] = 11
print(w)

[10, 11, 12, 13, 15]

In [149]:
print(n)

[10, 200, 12, 13, 15]

In [151]:
#### Mathematical operator in List
### + , *
# + concatenate two list
# * repeat elements of that specified list

In [152]:
n

[10, 200, 12, 13, 15]

In [153]:
w

[10, 11, 12, 13, 15]

In [156]:
k = n +w
print(k)

[10, 200, 12, 13, 15, 10, 11, 12, 13, 15]

In [161]:
n*2   #### one as list and another int values

[10, 200, 12, 13, 15, 10, 200, 12, 13, 15]

In [165]:
###### Comparing List of Objects - (==, !=)
x = ['Dog', 'Cat', 'Rat']
y = ['Cat', 'Dog', 'RAT']
z = ['Dog', 'Cat', 'Rat','Mat']

In [166]:
x==z

False

In [ ]:
# 1. The number of elements should match
# 2. order of elemtn should macth
# 3. content of element should match (case sensitive)

In [167]:
### If we use relationa operators such as >,>=, <,<= the first elment comparison will be performed

In [169]:
x = [50,20,30]
y = [70,50,60,80]
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True

In [171]:
#### membership Opertaor (in and not in)
n = [10,20,30,40]
print(10 in n)
print(80 not in n)

True
True

In [173]:
n.clear()  #### it will remove all the elements from that list
print(n)

[]

### Tuple

In [ ]:
Tuple is exactly same as list - only differnce is tuple is immutable
It denotes by ()
There is no functions in tuple as lists

In [175]:
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [183]:
t = (10,11,123,16,18,20)
print(t)
print(type(t))

(10, 11, 123, 16, 18, 20)
<class 'tuple'>

In [188]:
t1 = sorted(t, reverse = True)
t1 = tuple(t1)
print(t1)

(123, 20, 18, 16, 11, 10)

In [185]:
min(t1)

10

In [186]:
max(t1)

123

In [190]:
t * 2

(10, 11, 123, 16, 18, 20, 10, 11, 123, 16, 18, 20)

In [191]:
t.count(10)

1

In [192]:
t.index(10)

0

In [193]:
len(t)

6

In [195]:
t1

(123, 20, 18, 16, 11, 10)

In [196]:
t

(10, 11, 123, 16, 18, 20)

In [197]:
t1+t

(123, 20, 18, 16, 11, 10, 10, 11, 123, 16, 18, 20)

In [ ]:
##### Assignments on today and last 3 classes on ly on Python
##### Tableau Data Viz  - Next Sunday you have to present - Advanced
##### How the report will look like I will also share it you have to create a replica of that.