In [1]:
%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [3]:
tot_mov_cnt = cast.shape[0]

In [4]:
print(f"Total movies are listed in the dataframe is {tot_mov_cnt}")

Total movies are listed in the dataframe is 3611212

### What are the earliest two films listed in the titles dataframe?

In [5]:
sorted_df = cast.sort_values(by = "year", ascending = True)
year_lst = sorted_df["year"].unique()[:2]
ind_df = sorted_df.set_index("year")
early_mov_lst = ind_df.loc[year_lst]["title"].unique()

In [6]:
print(f"The earliest two films listed in the dataframe are '{early_mov_lst[0]}' and '{early_mov_lst[1]}'")

The earliest two films listed in the dataframe are 'Miss Jerry' and 'Soldiers of the Cross'

### How many movies have the title "Hamlet"?

In [7]:
ind_df = cast.set_index("title")
mov_cnt = ind_df.loc["Hamlet"].shape[0]
#ind_df.loc["Hamlet"].sort_values(by = "year", ascending = True)

In [8]:
print(f"Total movies with title 'Hamlet' is {mov_cnt}")

Total movies with title 'Hamlet' is 313

### How many movies are titled "North by Northwest"?

In [9]:
mov_north_cnt = ind_df.loc["North by Northwest"].shape[0]

In [10]:
print(f"Total movies with title 'North by Northwest' is {mov_north_cnt}")

Total movies with title 'North by Northwest' is 112

### When was the first movie titled "Hamlet" made?

In [11]:
year_val = ind_df.loc["Hamlet"].sort_values(by = "year", ascending = True)["year"].values[0]

In [12]:
print(f"The first movie titled 'Hamlet' made on {year_val}")

The first movie titled 'Hamlet' made on 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [13]:
treasure_df = ind_df.loc["Treasure Island"].sort_values(by = "year", ascending = True).reset_index()

In [14]:
treasure_df

,title,year,name,type,character,n
0,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
1,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
2,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
3,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
4,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
...,...,...,...,...,...,...
185,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
186,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
187,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
188,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
189,Treasure Island,1999,Bob Byington,actor,Thomas,12.0

### How many movies were made in the year 1950?

In [15]:
mov_cnt = cast.set_index("year").loc[1950].shape[0]

In [16]:
print(f"Total no of movies were made in the year 1950 is {mov_cnt}")

Total no of movies were made in the year 1950 is 22006

### How many movies were made in the year 1960?

In [17]:
mov_cnt = cast.set_index("year").loc[1960].shape[0]

In [18]:
print(f"Total no of movies were made in the year 1960 is {mov_cnt}")

Total no of movies were made in the year 1960 is 18456

### How many movies were made from 1950 through 1959?

In [19]:
year_lst = [val for val in range(1950, 1960)]
mov_cnt = cast.set_index("year").loc[year_lst].shape[0]

In [20]:
print(f"Total no of movies were made from 1950 through 1959 is {mov_cnt}")

Total no of movies were made from 1950 through 1959 is 210986

### In what years has a movie titled "Batman" been released?

In [21]:
mov_year_lst = ind_df.loc["Batman"]["year"].unique()

In [22]:
mov_year_lst

array([1943, 1989], dtype=int64)

### How many roles were there in the movie "Inception"?

In [23]:
role_cnt = ind_df.loc["Inception"]["type"].shape[0]

In [24]:
print(f"Total no of roles were there in the movie 'Inception' is {role_cnt}")

Total no of roles were there in the movie 'Inception' is 77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [25]:
role_n_cnt = ind_df.loc["Inception"]["n"].isnull().sum()

In [26]:
print(f"Total no of roles in the movie 'Inception' are NOT ranked by 'n' value is {role_n_cnt}")

Total no of roles in the movie 'Inception' are NOT ranked by 'n' value is 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [27]:
role_without_n_cnt = ind_df.loc["Inception"]["n"].notnull().sum()

In [28]:
print(f"Total no of roles in the movie 'Inception' received an 'n' value is {role_without_n_cnt}")

Total no of roles in the movie 'Inception' received an 'n' value is 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [29]:
name_df = ind_df.loc["North by Northwest"].sort_values(by = "n", ascending = True)
df = name_df.loc[name_df["n"].notnull()]

In [30]:
df

,year,name,type,character,n
title,,,,,
North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
North by Northwest,1959,Martin Landau,actor,Leonard,8.0
North by Northwest,1959,Adam Williams,actor,Valerian,9.0
North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [31]:
film_df = ind_df.loc["Sleuth"]
df = film_df.loc[film_df["year"] == 1972].sort_values(by = "n", ascending = False).head(1)

In [32]:
df

        year          name   type               character    n
title
Sleuth  1972  Teddy Martin  actor  Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [33]:
film_df = ind_df.loc["Sleuth"]
df = film_df.loc[film_df["year"] == 2007].sort_values(by = "n", ascending = False).head(1)

In [34]:
df

        year           name   type    character    n
title
Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [35]:
film_df = ind_df.loc["Hamlet"]
role_cnt = film_df.loc[film_df["year"] == 1921].shape[0]

In [36]:
print(f"Total no of roles were credited in the silent 1921 version of Hamlet is {role_cnt}")

Total no of roles were credited in the silent 1921 version of Hamlet is 9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [37]:
film_df = ind_df.loc["Hamlet"]
role_cnt = film_df.loc[film_df["year"] == 1996].shape[0]

In [38]:
print(f"Total no of roles were credited in the silent 1996 version of Hamlet is {role_cnt}")

Total no of roles were credited in the silent 1996 version of Hamlet is 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [39]:
role_cnt = ind_df.loc["Hamlet"].shape[0]

In [40]:
print(f"Total no of Hamlet roles have been listed in all film credits through history is {role_cnt}")

Total no of Hamlet roles have been listed in all film credits through history is 313

### How many people have played an "Ophelia"?

In [41]:
mov_cnt = ind_df.loc["Ophelia"].shape[0]

In [42]:
print(f"Total no of people have played an 'Ophelia' is {mov_cnt}")

Total no of people have played an 'Ophelia' is 2

### How many people have played a role called "The Dude"?

In [43]:
new_ind_df = cast.set_index("character")
mov_cnt = new_ind_df.loc["The Dude"].shape[0]

In [44]:
print(f"Total no of people have played a role called 'The Dude' is {mov_cnt}")

Total no of people have played a role called 'The Dude' is 18

### How many people have played a role called "The Stranger"?

In [45]:
mov_cnt = new_ind_df.loc["The Stranger"].shape[0]

In [46]:
print(f"Total no of people have played a role called 'The Stranger' is {mov_cnt}")

Total no of people have played a role called 'The Stranger' is 208

### How many roles has Sidney Poitier played throughout his career?

In [47]:
name_ind_df = cast.set_index("name")
mov_cnt = name_ind_df.loc["Sidney Poitier"].shape[0]

In [48]:
print(f"Total no of roles Sidney Politier has played throughout his career is {mov_cnt}")

Total no of roles Sidney Politier has played throughout his career is 43

### How many roles has Judi Dench played?

In [49]:
mov_cnt = name_ind_df.loc["Judi Dench"].shape[0]

In [50]:
print(f"Total no of roles Judi Dench has played is {mov_cnt}")

Total no of roles Judi Dench has played is 55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [51]:
index_df = cast.set_index(["name", "year", "n"])
yr_lst = [val for val in range(1940, 1950)]
new_df = index_df.loc[("Cary Grant", yr_lst, 2)].sort_index(ascending = True).reset_index()

In [52]:
new_df

         name  year    n             title   type    character
0  Cary Grant  1940  2.0  My Favorite Wife  actor         Nick
1  Cary Grant  1941  2.0    Penny Serenade  actor  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [53]:
index_df = cast.set_index(["name", "year", "n"])
yr_lst = [val for val in range(1940, 1950)]
new_df = index_df.loc[("Cary Grant", yr_lst, 1)].sort_index(ascending = True).reset_index()

In [54]:
new_df

,name,year,n,title,type,character
0,Cary Grant,1940,1.0,His Girl Friday,actor,Walter Burns
1,Cary Grant,1940,1.0,The Howards of Virginia,actor,Matt Howard
2,Cary Grant,1940,1.0,The Philadelphia Story,actor,C. K. Dexter Haven
3,Cary Grant,1941,1.0,Suspicion,actor,Johnnie
4,Cary Grant,1942,1.0,Once Upon a Honeymoon,actor,Patrick 'Pat' O'Toole
5,Cary Grant,1942,1.0,The Talk of the Town,actor,Leopold Dilg
6,Cary Grant,1943,1.0,Destination Tokyo,actor,Capt. Cassidy
7,Cary Grant,1943,1.0,Mr. Lucky,actor,Joe Adams
8,Cary Grant,1943,1.0,Mr. Lucky,actor,Joe Bascopolous
9,Cary Grant,1944,1.0,Arsenic and Old Lace,actor,Mortimer Brewster
10,Cary Grant,1944,1.0,None But the Lonely Heart,actor,Ernie Mott
11,Cary Grant,1944,1.0,Once Upon a Time,actor,Jerry Flynn
12,Cary Grant,1946,1.0,Night and Day,actor,Cole Porter
13,Cary Grant,1946,1.0,Notorious,actor,Devlin
14,Cary Grant,1947,1.0,The Bachelor and the Bobby-Soxer,actor,Dick Nugent
15,Cary Grant,1947,1.0,The Bishop's Wife,actor,Dudley
16,Cary Grant,1948,1.0,Every Girl Should Be Married,actor,Dr. Madison Brown
17,Cary Grant,1948,1.0,Mr. Blandings Builds His Dream House,actor,Jim Blandings
18,Cary Grant,1949,1.0,I Was a Male War Bride,actor,Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [55]:
df1 = cast.set_index("year")
yr_lst = [x for x in range(1950, 1960)]
df2 = df1.loc[yr_lst]
tot_cnt = df2.loc[df2["type"] == "actor"].shape[0]

In [56]:
print(f"Total no of roles that were available for actors in the 1950s is {tot_cnt}")

Total no of roles that were available for actors in the 1950s is 154727

### How many roles were available for actresses in the 1950s?

In [57]:
tot_cnt = df2.loc[df2["type"] == "actress"].shape[0]

In [58]:
print(f"Total no of roles that were available for actors in the 1950s is {tot_cnt}")

Total no of roles that were available for actors in the 1950s is 56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [59]:
df1 = cast.set_index("n")
df2 = df1.loc[1]
tot_cnt = df2.loc[df2["year"] < 1980].shape[0]

In [60]:
print(f"Total no of leading roles (n=1) those were available from the begining of film history through 1980 is {tot_cnt}")

Total no of leading roles (n=1) those were available from the begining of film history through 1980 is 62781

### How many non-leading roles were available through from the beginning of film history through 1980?

In [61]:
cnt = cast.loc[(cast["n"] != 1) & (cast["year"] < 1980)].shape[0]

In [62]:
print(f"Total no of non-leading roles those were available from the begining of film history through 1980 is {cnt}")

Total no of non-leading roles those were available from the begining of film history through 1980 is 1073132

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [63]:
cnt = cast.loc[(cast["n"].isnull()) & (cast["year"] < 1980)].shape[0]

In [64]:
print(f"Total no of roles through 1980 were minor enough that they did not warrant a numeric 'n' rank is {cnt}")

Total no of roles through 1980 were minor enough that they did not warrant a numeric 'n' rank is 433859