In [6]:
import import_ipynb
import pandas as pd
from log_model import data_prep
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

importing Jupyter notebook from log_model.ipynb
CPU times: total: 0 ns
Wall time: 0 ns

In [3]:
##### 
df = pd.read_csv("E:/TOPMENTOR/PART1/topmenor/Top Mentor/Datasets/Students.csv")
df.head(2)

      JEEPRE   JEEMAINS  STATUS
0  34.623660  78.024693       0
1  30.286711  43.894998       0

In [4]:
X = df[['JEEPRE', 'JEEMAINS']]
X.head(2)

      JEEPRE   JEEMAINS
0  34.623660  78.024693
1  30.286711  43.894998

In [5]:
y = df['STATUS']

In [7]:
X_train,X_test,y_train,y_test = data_prep(df,0.2)

In [8]:
X_train.shape

(80, 2)

In [24]:
def ds_tree(X_train,X_test,y_train):
    model_clf = DecisionTreeClassifier(criterion='entropy',max_depth =5)
    train_model = model_clf.fit(X_train,y_train)
    pred = train_model.predict(X_test)
    return pred

In [28]:
pred = ds_tree(X_train,X_test,y_train)

In [29]:
accuracy_score(y_test,pred)

0.85

In [25]:
def rndf_tree(X_train,X_test,y_train):
    model_rf = RandomForestClassifier(criterion='entropy',max_depth =5)
    train_model = model_rf.fit(X_train,y_train)
    pred1 = train_model.predict(X_test)
    return pred1

In [26]:
pred1 = rndf_tree(X_train,X_test,y_train)
pred1

array([1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1],
      dtype=int64)

In [27]:
accuracy_score(y_test,pred1)

1.0